.navbar-default {
      background-color: #A61F38;
      font-family: 'Corben', Georgia, Times, serif;
      color: #000;
      font-size: 12px;
      line-height: 30px;
}

.navbar-brand{
      background-color: #000;
      font-family: 'Corben', Georgia, Times, serif;
      font-size: 12px;
      line-height: 30px;
}

body{
	color: #AF420A;
}
